<% include ../header %>
<script type="text/javascript" src="/app/admin/balance.js"></script>
<%if(result){%>
<div class="alert alert-success">充值成功</div>
<%}%>
<h2>为【<%=user.name%>】充值</h2>
<p>当前账户余额：￥<%=parseFloat(user.balance||0).toFixed(2)%>元</p>
<br>
<form method="post">
  <input type="hidden" name="user_id" value="<%=user._id%>">
  <input type="hidden" name="amount" value="50">
  <span class="btn btn-primary" data-amount="50" data-toggle="modal" data-target="#myModal">充值￥50 元</span>
</form><br/>
<form action="" method="post">
  <input type="hidden" name="user_id" value="<%=user._id%>">
  <input type="hidden" name="amount" value="100">
  <span class="btn btn-primary" data-amount="100" data-toggle="modal" data-target="#myModal">充值￥100 元</span>
</form><br/>
<form action="" method="post">
  <input type="hidden" name="user_id" value="<%=user._id%>">
  <input type="hidden" name="amount" value="200">
  <span class="btn btn-primary" data-amount="200" data-toggle="modal" data-target="#myModal">充值￥200 元</span>
</form><br/>
<form class="form-inline" action="" method="post">
  <input type="hidden" name="user_id" value="<%=user._id%>">
  <input type="number" class="form-control" name="amount" value="" placeholder="金额">
  <span class="btn btn-primary" data-amount="200" data-toggle="modal" data-target="#myModal">充值</span>
</form>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                  class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">充值</h4>
      </div>
      <div class="modal-body">
        <p>确认为【<%=user.name%>】充值￥<span id="amount"></span>元？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary sure">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<% include ../footer %>
