<% include ../header %>
<script type="text/javascript" src="/app/admin/shop.js"></script>
<h2>店铺列表<a style="margin-left: 50px;" class="btn btn-primary btn-small" href="/admin/shop/add">添加店铺</a></h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>名称</th>
        <th>电话</th>
        <th>地址</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% shops.forEach(function(shop){ %>
    <tr>
        <td><%= shop.name %></td>
        <td><%= shop.tel %></td>
        <td><%= shop.address %></td>
        <td>
            <a class="btn btn-primary btn-small" href="/admin/shop/edit/<%= shop._id %>">编辑店铺</a>
            <a class="btn btn-primary btn-small" href="/admin/food/add?shop_id=<%= shop._id %>">编辑菜单</a>
            <a class="btn btn-danger btn-small" id="deleteShop" shop-id="<%= shop._id %>" data-toggle="modal" data-target="#myModal">删除店铺</a>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">删除店铺</h4>
            </div>
            <div class="modal-body">
                <p>确定删除此店铺？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary sure">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<% include ../footer %>